# Build folders
/build/
/build-*/
/logs/
/install/
/install-*/
# Local tools
/.tracy/
/.gamewip-setup.json
/.gamewip-install-state.json

# MSYS / temp
*.log
*.tmp
*.cache

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Binaries
*.exe
*.out
*.dll
*.a

# Debug symbols
*.pdb
*.ilk

# Other
*.user
*.suo
